.stats {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-height: 40px;
    padding-top: 10px;
}

.stats h3 {
    color: red;
    margin: 0;
}

.stats-detail {
    margin-left: 10px;
    font-size: 0.8em;
    text-align: center;
}