.score {
    width: 100%;
    background-color: #efefef;
    padding: 20px;
}

@media screen and (min-width: 100vh) {
    .app {
        display: flex;
        flex-wrap: wrap;
    }
    .score {
        flex: 1;
        min-width: 200px;
        /*margin-left: 10px;*/
    }
}

.startBar {
    height: 30px;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.startBar button {
    margin-left: auto;
    margin-right: 5px;
}

.choose-player-dialog strong {
    display: block;
    margin-bottom: 8px;
}

.choose-player-dialog .close[role=button] {
    color: red;
    float: right;
    margin-top: -12px;
    margin-right: -10px;
}

.choose-player-dialog ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 22px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.choose-player-dialog ul li {
    margin-bottom: 3px;
}

.choose-player-dialog input {
    margin-right: 10px;
}