html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  color: dodgerblue;
  cursor: pointer;
  border-style: none;
  border-width: 0;
  padding: 0;
  background-color: transparent;
}

button:hover {
  color: blue;
  background-color: transparent;
}

button.close {
  color: red;
}
