html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  color: dodgerblue;
  cursor: pointer;
  border-style: none;
  border-width: 0;
  padding: 0;
  background-color: transparent;
}

button:hover {
  color: blue;
  background-color: transparent;
}

button.close {
  color: red;
}

@media screen and (max-width: 420px) {
  .react-confirm-alert {
    padding-left: 10px;
    padding-right: 10px;
  }
  .react-confirm-alert {
    width: 100%;
  }
  .react-confirm-alert .react-confirm-alert-body {
    width: 100%;
    padding: 25px 20px;
  }
}
