html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a[role=button] {
  text-decoration: none;
  cursor: pointer;
  color: cornflowerblue;
}

a[role=button]:hover {
  color: blue;
}

a.close[role=button] {
  color: red;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #efefef;
}
